<div class="row align-items-center mb-2">
    {% if entry.abbr %}
    <div class="col-auto abbr">
      <abbr class="badge rounded">{{ entry.abbr }}</abbr>
    </div>
    {% endif %}
    <div id="{{ entry.key }}" class="col">
      <span class="title" style="color:#bb0000;">
        {% if entry.url %}
          <a href="{{ entry.url }}">{{ entry.title }}</a>
        {% else %}
          {{ entry.title }}
        {% endif %}
      </span>
      <div class="author">{{ entry.author }}</div>
      <div class="journal">
        <em>{{ entry.booktitle | default: entry.journal }}</em>{% if entry.year %}, {{ entry.year }}{% endif %}
      </div>
      <div class="links mt-1">
        {% if entry.pdf %}<a href="{{ entry.pdf }}"><i class="ai ai-pdf"></i></a>{% endif %}
        {% if entry.code %}<a href="{{ entry.code }}"><i class="ai ai-github"></i></a>{% endif %}
        {% if entry.slides %}<a href="{{ entry.slides }}"><i class="ai ai-slideshare"></i></a>{% endif %}
        {% if entry.project %}<a href="{{ entry.project }}"><i class="fas fa-external-link-alt"></i></a>{% endif %}
      </div>
    </div>
  </div>
  